.Input {
  width: 265px;
  height: 45px;
  border: 1px solid black;
  border-radius: 8px;
  outline: none;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  background: transparent;
  color: black;

  &--dark {
    color: white;
    border: 1px solid white;
  }
}
